@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0088CC;
    font-family: 'Poppins', sans-serif;
}

p {
    font-weight: 400;
    color: #fff;
}

h1{
    width: 100%;
    font-weight: 700;
    border-radius: 20px;
}


#cuerpoApp {
    border-radius: 44px;
    background: linear-gradient(145deg, #007ab8, #0092da);
    box-shadow: 20px 20px 21px #0079b6,
        -20px -20px 21px #0097e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 200px;
}

#inputLength {
    font-weight: 900;
    font-size: 40px;
    width: 100px;
    margin: 0 auto;
}

#btnCopy {
    margin: 0 auto;
}
.containerContraseña{
    display: flex;
    justify-content: center;
}

#contraseñaGenerada {
    animation: wiggle 4s ease-in-out;
    border-radius: 50px;
    padding: 20px;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(5deg);
    }

    95% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}